<section id="cameras">
    {{#each avatars}}
        <div class="camera-products">
            <a href="/{{name}}">
                <img src="/images/{{avatar}}" alt="avatar">
            </a>
            <h3 class="hero-name">{{name}}</h3>
        </div>
    {{/each}}

</section>