<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img id="logo" src="/images/camera-logo.png" alt="soraya camera logo"></a>
        {{!-- <a href="/">
          <i class="fas fa-home"></i>
        </a> --}}
      </nav>
    </header>    
    <main>
      {{{body}}}
    </main>
 
    <footer>
      <p>&copy; Soraya's Cameras 2019.</p>
    </footer>
  </body>
</html>