html 
{ 
    position: relative; 
    min-height: 100%; 
}

body 
{ 
    background: url(/images/carbon_fibre.png) repeat $bg-color; 
    font-family: 'helvetica';
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 
{ 
    font-family: 'Fredoka One', cursive;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 2em;
}

header 
{ 
    background-color: $bg-color; 
}

nav 
{
background: $dark-grey;
text-align: center;
}

#logo {
    width: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
}


footer { 
    background-color: $dark-grey; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 50px;
    text-align: center;
    padding-top: 1rem;
    color: white;
}

#cameras 
{ 
    text-align: center;
    margin-top: 5%; 
}

// .camera-products { 
//     border-radius: 1rem; 
//     overflow: hidden; 
//     display: inline-block; 
//     text-align: center;
//     margin: 0 12px 20px;
//     border: 2px solid white;
//     background: $bg-color;

//     img { width: 100%; }

//     h3 { font-size: 1.5rem; padding: 8px;}
// }

.camera-products
{
    width: 33%;
    float: left;
    padding-bottom: 5%;
}


.camera-products img
{
    width: 80%;
    border: 10px solid $yellow;
    padding: 2%;
}



@media screen and (min-width: 1032px) {
    .camera-products:last-of-type { margin-bottom: 20px; }
}